.main-carousel {
  height: auto;
  width: 100%;
  background-color: rgb(255, 205, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.progress-bar {
  font-size: large;
}

.main-slide {
  width: 65rem;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.progress-bar {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.dot-big {
  height: 0.7rem;
  width: 0.7rem;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.dot-small {
  height: 0.3rem;
  width: 0.3rem;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.content-button {
  display: contents;
  width: 10%;
  text-align: center;
}

.content-button button {
  background-color: transparent;
  border-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content-button img {
  width: 3.5rem;
}

.content-button img:hover {
  opacity: 0.9;
}

@media screen and (max-width: 800px) {
  .main-carousel {
    flex-direction: column;
  }

  .main-slide {
    width: 30rem;
    align-items: center;
    justify-content: center;
  }

  .content-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-carousel {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }

  .main-slide {
    width: 20rem;
    margin-bottom: 1rem;
  }

  .progress-bar {
    padding-bottom: 1rem;
  }
}
