.main-footer {
  display: flex;
  flex-direction: row;
  height: 10%;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem 10rem 0rem 7rem;
}

.main-footer span {
  font-size: larger;
  font-weight: 700;
}

.main-footer img {
  width: 3rem;
}

@media screen and (max-width: 600px) {
  .main-footer {
    margin: 0.5rem 1rem 0rem 1rem;
    justify-content: center;
  }

  .main-footer span {
    font-size: large;
    margin-right: 1rem;
  }

  .main-footer img {
    width: 2.5rem;
  }
}
