@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,600&family=Outfit:wght@100..900&family=Roboto:wght@100;400&display=swap;");

:root {
  font-family: "Outfit";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 40rem;
}

@media screen and (max-width: 600px) {
  .main {
    height: 30rem;
  }
}
